.Container {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
}

.MainSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #3a68b1;
}

.Form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Input {
  width: 100%;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #868686;
  border-radius: 0.5rem;
}

.Button {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #3a68b1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.Button:hover {
  background-color: #4c83dd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.Aside {
  position: relative;
  flex: 1;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1581322025123-3c6a63227660?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AsideTitle {
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  bottom: 0;
}

.Register {
  padding: 2rem 0;
  min-height: 100vh;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RegisterForm {
  max-width: 600px;
  font-size: 0.8rem;
}

.ContainerInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.Error {
  color: red;
  font-size: 0.8rem;
}
